div#one
    section
        article
            p ALPHA
            span(class="icon-play3")#play
            p STATUS
        article#status
            p#connected Connected
        article
            p TEMP
            p#temp 72:70
        article
            p TEST
            p#test 101716test01
        article
            p ABSORBANCE
            p#settings 1 SEC
        article
            p BATTERY
    section
        canvas(id="mychart" width="700" height="200")