div#one
    section
        h4#name ALPHA
        article
            span(class="icon-play3")#play
            span(class="icon-stop2")#stop
            span(class="icon-switch")#power
        article
            p#time 00:00:00
        article
            p TEMP:
            span(class="icon-circle-left")
            p#settemp 72
            span(class="icon-circle-right")
            p#temp 70
            p °
        article
            p FILE NAME OF TEST:
            textarea#filename 101716_03:44:20_01.csv
        article
            p ABSORB:
            span(class="icon-circle-left")
            p#absorbance 01.00
            span(class="icon-circle-right")
            p sec
    section
        canvas(id="mychart" width="700" height="200")