doctype html
html
    head
        link(href='/style.css', rel='stylesheet')
        link(href='/css/index.css', rel='stylesheet')
        script(src="/scripts/smoothie.js")
        script(src="/scripts/chart.min.js")
    body
        aside
            h1 SP#[span(class="icon-connection")]CTRO
            div#search
                span(class="icon-search")
            div#settings
                span(class="icon-cog")
        main
            include component.jade
        footer
            section
                h4 OUTPUT
                p#console
        script(src="../../socket.io/socket.io.js")
        script(src="/scripts/homepage.js")
        script(src="/scripts/events.js")  
