doctype html
html
    head
        link(href='/style.css', rel='stylesheet')
        link(href='/css/index.css', rel='stylesheet')
        script(src="/scripts/smoothie.js")
        script(src="/scripts/chart.min.js")
    body
        aside
            h1 SP#[span(class="icon-connection")]CTRO
            div#search
                span(class="icon-search")
            div#settings
                span(class="icon-cog")
        main
            div#one
                section
                    article
                        p ALPHA
                        span(class="icon-play3")#play
                        p STATUS
                    article#status
                        p#connected Connected
                    article
                        p TEMP
                        p#temp 72:70
                    article
                        p TEST
                        p#test 101716test01
                    article
                        p ABSORBANCE
                        p#settings 1 SEC
                    article
                        p BATTERY
                        p 
                section
                    canvas(id="mychart" width="700" height="200")
        footer
            section
                h4 OUTPUT
                p#console
        script(src="../../socket.io/socket.io.js")
        script(src="/scripts/homepage.js")
        script(src="/scripts/events.js")  
