body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'quicksand';
}
main {
  margin-left: 140px;
  margin-top: 20px;
  width: 100%;
}
main p,
main h4 {
  text-align: center;
}
main div {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 900px;
  height: 200px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2), inset 0 0 50px rgba(0,0,0,0.1);
}
main div section:nth-of-type(1) {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: top;
}
main div section:nth-of-type(1) p {
  display: inline;
  padding: 5px;
}
main div section:nth-of-type(1) span {
  font-size: 30px;
  vertical-align: middle;
  color: #d3d3d3;
}
main div section:nth-of-type(2) {
  display: inline-block;
}
main div article:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
main div article:nth-of-type(2) {
  display: inline-block;
  background-color: #d3d3d3;
  width: 150px;
  margin-bottom: 10px;
}
main div article:nth-of-type(3),
main div article:nth-of-type(4),
main div article:nth-of-type(5),
main div article:nth-of-type(6) {
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
}
main div article:nth-of-type(3) p,
main div article:nth-of-type(4) p,
main div article:nth-of-type(5) p,
main div article:nth-of-type(6) p {
  text-align: left;
  display: inline-block;
  padding: 0;
  margin: 0;
}
main div article:nth-of-type(3) p:nth-of-type(1),
main div article:nth-of-type(4) p:nth-of-type(1),
main div article:nth-of-type(5) p:nth-of-type(1),
main div article:nth-of-type(6) p:nth-of-type(1) {
  min-width: 90px;
  padding-left: 30px;
}
aside {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 140px;
  height: 100%;
  background-color: #369;
  text-align: center;
}
aside h1,
aside h2,
aside h3,
aside p {
  color: #fff;
}
aside div {
  background-color: #d3d3d3;
  padding-top: 30px;
  padding-bottom: 30px;
}
aside div span {
  font-size: 30px;
}
aside div:hover {
  color: #fff;
}
aside div:nth-of-type(2) {
  border-top: 1px solid #808080;
}
footer {
  border-top: 1px solid #000;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: #fff;
}
footer section {
  margin-left: 150px;
}
footer h4 {
  margin-top: 3px;
  margin-bottom: 3px;
}
footer p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
@font-face {
  font-family: 'quicksand';
  src: url("../quicksand/Quicksand-Light.otf");
}
