body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'quicksand';
}
main {
  margin-left: 140px;
  display: block;
  height: 100%;
}
main p,
main h4 {
  text-align: center;
}
main div {
  margin: 20px;
  display: inline-block;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2), inset 0 0 50px rgba(0,0,0,0.1);
}
main div section:nth-of-type(1) {
  max-height: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}
main div section:nth-of-type(1) span {
  font-size: 40px;
  color: #808080;
}
main div section:nth-of-type(1) p {
  vertical-align: 50%;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
main div section:nth-of-type(2) {
  max-height: 30px;
  padding-top: 30px;
  text-align: center;
}
main div section:nth-of-type(2) p {
  display: inline;
}
main div section:nth-of-type(3) {
  text-align: center;
  border-top: 1px solid #808080;
}
main div section:nth-of-type(3) p {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}
#one {
  visibility: hidden;
}
aside {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 140px;
  height: 100%;
  background-color: #369;
  text-align: center;
}
aside h1,
aside h2,
aside h3,
aside p {
  color: #fff;
}
aside div:first-of-type {
  background-color: #d3d3d3;
  padding-top: 20px;
  padding-bottom: 20px;
}
aside div:first-of-type span {
  font-size: 30px;
}
aside div:nth-of-type(2) {
  margin-top: 0;
  background-color: #a9a9a9;
  color: #fff;
}
aside div:nth-of-type(2) p {
  margin: 0;
  padding: 5px;
}
aside div:nth-of-type(3) {
  margin-top: 100px;
}
aside div:nth-of-type(3) section {
  background-color: #d3d3d3;
  height: 200px;
}
aside div:nth-of-type(3) section p {
  padding-top: 10px;
  color: #000;
}
aside div:nth-of-type(3) section input {
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
aside div:nth-of-type(3) section button {
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer {
  width: 100%;
  max-height: 30%;
  height: 30%;
  border-top: 1px solid #000;
  position: fixed;
  right: 0;
  bottom: 0;
}
footer section {
  margin-left: 150px;
}
@font-face {
  font-family: 'quicksand';
  src: url("../quicksand/Quicksand-Light.otf");
}
