body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'quicksand';
}

main {
    //background-color: lightgrey;
    margin-left: 140px;
    display: block;
    height: 100%;

    p, h4 {
        text-align: center;
    }

    div {
        margin: 20px;
        display: inline-block;
        width: 300px;
        height: 400px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

        section:nth-of-type(1) {
            max-height: 30px;
            padding-top: 25px;
            padding-bottom: 20px;
            text-align: center;

            span{
                font-size: 40px;
                color: grey;
            }

            p {
                vertical-align: 50%;
                display: inline;
                padding-left: 20px;
                padding-right: 20px;
            }

        }

        section:nth-of-type(2) {
            max-height: 30px;
            padding-top: 30px;
            text-align: center;

            p {
                display: inline;
            }
        }

        section:nth-of-type(3) {
            text-align: center;
            border-top: 1px solid grey;

            p {
                padding-left: 5px;
                padding-right: 5px;
                display: inline;
            }
        }

    }
}

#one {
    visibility: hidden;
}

aside {
    z-index: 2;
    //box-shadow: 1.5px 0 5px -2px #888;
    position: fixed;
    left: 0;
    top: 0;
    width 140px;
    height: 100%;
    background-color: #336699;

    text-align: center;

    h1, h2, h3, p {
        color: white;
    }

    div:first-of-type {
        background-color: lightgrey;
        padding-top: 20px;
        padding-bottom: 20px;
        
        span {
            font-size: 30px;
        }
    }
    div:nth-of-type(2){
        margin-top: 0;
        background-color: darkgrey;
        color: white;

        p {
            margin: 0;
            padding: 5px;
        }
    }
    div:nth-of-type(3){
        margin-top: 100px;

        section {
            p {
                padding-top: 10px;
                color: black;
            }
            input {
                width: 95%;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-left: 3px;
                margin-right: 3px; 

            }
            button {
                width: 95%;
                padding-top: 5px;
                padding-bottom: 5px;                
            }
            background-color: lightgrey;
            height: 200px;
        }
    }
}


footer {
    width: 100%;
    max-height: 30%;
    height: 30%;
    border-top: 1px solid black;
    position: fixed;
    right: 0;
    bottom: 0;

    section {
        margin-left: 150px;
    }

}

@font-face {
  font-family: 'quicksand';
  src:  url('../quicksand/Quicksand-Light.otf');
}