body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'quicksand';
}

main {
    margin-left: 140px;
    margin-top: 20px;
    width: 100%;

    h4 {
        margin: 0;
        margin-top: 15px;
    }

    div {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: inline-block;
        width: 900px;
        height: 200px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

        section:nth-of-type(1)  {
            display: inline-block;
            width: 200px;
            text-align: center;
            vertical-align: top;

            p {
                font-size: 12px;
                display: inline;
            }

            span {
                padding-left: 3px;
                padding-right: 3px;
                vertical-align: middle;
                color: lightgrey;
            }

        }
        
        section:nth-of-type(2) {
            display: inline-block;
        }

        article:nth-of-type(1) {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 24px;
            }
        }    

        article:nth-of-type(2) {
            margin-bottom: 10px;

        }

        article:nth-of-type(3){
            text-align: left;
            margin-bottom: 7px;

            p {
                display: inline-block;
                padding: 0;
                margin: 0;
            }

            span:nth-of-type(1){
                padding-left: 5px;
            }

            p:nth-of-type(1) {
                min-width: 70px;
                padding-left: 20px;
            }

            span:hover {
                color: #336699;
            }
        }

        article:nth-of-type(4), article:nth-of-type(5), article:nth-of-type(6) {
            font-size: 12px;
            text-align: left;

            p {
                text-align: left;
                display: inline-block;
                padding: 0;
                margin: 0;
            }

            p:nth-of-type(1) {
                min-width: 70px;
                padding-left: 20px;
            }

            span {
                font-size: 16px;
            }

            span:hover {
                color: #336699;
            }
        }

        textarea {
            margin-left: 20px;
            margin-bottom: 7px;
            padding-top: 2px;
            resize: none;
            opacity: .7;
            height: 14px;
        }

    }
}


aside {
    z-index: 2;
    //box-shadow: 1.5px 0 5px -2px #888;
    position: fixed;
    left: 0;
    top: 0;
    width 140px;
    height: 100%;
    background-color: #336699;

    text-align: center;

    h1, h2, h3, p {
        color: white;
    }

    div {
        background-color: lightgrey;
        padding-top: 30px;
        padding-bottom: 30px;
        
        span {
            font-size: 30px;
        }
    }

    div:hover {
        color: white;
    }

    div:nth-of-type(2){
        border-top: 1px solid grey;
    }
}


footer {
    border-top: 1px solid black;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: white;



    section {
        margin-left: 150px;
    }

    h4 {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

}

@font-face {
  font-family: 'quicksand';
  src:  url('../quicksand/Quicksand-Light.otf');
}